body {
    background-image:
    color: rgb(252, 183, 9);
}

h1 {
    text-align: center;
}
#header-text {
    margin-top: 4%;
    text-align: center;
}
#answer {
height: 30%;
text-align: center;
width: 
}